{#
/**
 * @file test_contact.html.twig
 * Default theme implementation to present Test contact data.
 *
 * This template is used when viewing Test contact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_test_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('test_contact') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
