Your template goes here..
{%  set niceclasses = [] %}

 {% for class in var2.2 %}
     {% set niceclasses = niceclasses|merge([class]) %}
 {% endfor %}

{% if var1 %}
    <div class="var1">
        <span{{ attributes.addClass(niceclasses) }}>
            Variable 1 is - {{ var1 }}
        </span>
        {{ attributes.removeClass(niceclasses) }}
    </div>
{% endif %}

{% if var2.3.g %}
    <div class="var1">
        Variable 2.3.g is - {{ var2.3.g }}
    </div>
{% endif %}

{% set myclasses = [] %}
{% for class in var2.1 %}
    {% set myclasses = myclasses|merge([class]) %}
{% endfor %}

    <div{{ attributes.addClass(myclasses) }}>
        {{ 'DAY 20 CACHE'|t }}
    </div>