{#
/**
 * @file
 * Template for Image Formatter
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 */
#}
{% if url %}
    <a href="{{ url }}">{{ image }}</a>
{% else %}
    {{ image }}
{% endif %}
{% if caption %}
    <div class="image-caption">{{ caption }}</div>
{% endif %}